#content {
    // max-width: 500px;
    margin: 20px;

    .right {
        float: right;
    }

    .strike {
        text-decoration: line-through;
    }
    
    input[type='text']{
      max-width: 200px;
    }
    button{
        margin: 5px;
    }
}